body {
    background-color: rgba(4, 30, 65, 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

h3 {
    color: #0097A9;
    padding: 0.5em;
    font-size: 1.25em;
}

.menu-bar {
    padding: 1em 2em;
    text-align: right;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(4, 30, 65, 95%);
    border-bottom: 0.15px solid whitesmoke;
}

nav a {
    color: rgba(205, 151, 0);
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 219, 0, 100%);
    color: rgba(4, 30, 65, 95%);
}

.sub-menu a:hover {
    color: #0097A9;
}

.intro {
    margin-top: 5em;
    margin-bottom: 2em;
}

.logo {
    max-width: 120px;
    margin: 0 1em;
    padding-top: 1em;
    padding-left: 2em;
}

.content-blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0 1em;
    margin: 0 1em;
}

.content-blocks p {
    padding-bottom: 1em;
}

.container {
    background-color: rgba(4, 30, 65, 90%);
    padding: 1em;
    border: 1px solid #cc9900;
    margin-bottom: 1em;
    box-shadow: -1px -1px 3px #cc9900;
}

.container h2, h1{
    font-size: 1.25em;
    margin-bottom: 0.5em;
    padding: 0.25em;
    text-transform: uppercase;
    background-color: #cc9900;
    text-shadow: 1px 1px #000033;
}

.container a {
    text-decoration: none;
    font-size: 1.15em;
    color: white;
}

.grades li {
    font-size: 1.25em;
    padding-bottom: 1em;
}

.add-item {
    display: block;
    text-align: right;
    font-weight: 900;
    margin: 1em 0;
}

.blackboard {
    width: 7em;
    margin: 1em;
    background-color: white;
}

.copyright {
    font-size: 0.35em;
    padding-bottom: 2em;
    margin: 0 1.5em;
}

.info {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(4, 30, 65, 95%);
    border-top: 0.15px solid whitesmoke;
}

.input-boxes {
    margin: 0.50em;
    padding: 0.50em;
    background-color: rgba(4, 30, 65, 95%);
    color: white;
    border: 0.5px solid #cc9900;
}

.tasks-app {
    display: block;
}

.course-sel {
    width: 13em;
}

.tasks-listed {
    padding: 1em;
}

.my-humber:hover {
    color: #cc9900;
}

@media screen and (min-width: 550px) {
    .content-blocks {
        grid-template-columns: 1fr 1fr;
    }

    .logo {
        max-width: 175px;
        display: block;
        margin: 0 auto;
        padding-top: 2em;
    }
}

@media screen and (min-width: 1080px) {
    .content-blocks {
        grid-template-columns: 1fr 1fr;
    }
}